<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title th:text="${pageTitle}">Crib Sheet</title>
  <link rel="stylesheet" href="/css/all.css">
  <script src="/js/mobile-height.js"></script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <link rel="stylesheet" href="/css/fontawesome-solid.min.css">

  <th:block layout:fragment="extra-head"></th:block>
</head>
<body>
<main>
  <div class="content-wrap">
    <div layout:fragment="content"></div>
  </div>
</main>

<div style="min-height: 50px; text-align: center">
  <button sec:authorize="!hasRole('ADMIN')" class="footer-button" type="button" onclick="location.href='/login'">
    <i class="fa-solid fa-user-shield"></i>
  </button>
  <button sec:authorize="hasRole('ADMIN')" class="footer-button" type="button" onclick="location.href='/logout'">
    <i class="fa-solid fa-right-from-bracket"></i>
  </button>
</div>

<th:block layout:fragment="extra-scripts"></th:block>
</body>
</html>
