<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title th:text="${pageTitle}">Crib Sheet</title>
  <link rel="stylesheet" href="/css/all.css">
  <script src="/js/mobile-height.js"></script>
  <script src="https://kit.fontawesome.com/f58d79b7d2.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500&family=Noto+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet">
</head>
<body>
<div class="content-wrap">
  <div layout:fragment="content"></div>
</div>

<div style="min-height: 50px; text-align: center">
  <button sec:authorize="!hasRole('ADMIN')" class="footer-button" type="button" onclick="location.href='/login'">
    <i class="fa-solid fa-user-shield"></i>
  </button>
  <button sec:authorize="hasRole('ADMIN')" class="footer-button" type="button" onclick="location.href='/logout'">
    <i class="fa-solid fa-right-from-bracket"></i>
  </button>
</div>
</body>
</html>
