<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Error - Crib Sheet</title>
  <link rel="stylesheet" href="/css/all.css">
  <script src="/js/mobile-height.js"></script>

  <!-- FontAwesome -->
  <link rel="stylesheet" href="/css/fontawesome.min.css">
  <link rel="stylesheet" href="/css/fontawesome-solid.min.css">
</head>
<body>
<div class="error-group">
  <h1 layout:fragment="code" class="error-code">500</h1>
  <h2 layout:fragment="name" class="error-name">Internal Server Error</h2>
</div>
</body>
</html>