<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Error - Crib Sheet</title>
  <link rel="stylesheet" href="/css/all.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500&family=Noto+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet">
</head>
<body>
<div class="error-group">
  <h1 layout:fragment="code" class="error-code">500</h1>
  <h2 layout:fragment="name" class="error-name">Internal Server Error</h2>
</div>
</body>
</html>