<!DOCTYPE html>
<html lang="en" class="chapters-hidden">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title th:text="${pageTitle}">Crib Sheet</title>
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/responsive.css" media="(max-width: 600px)">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/f58d79b7d2.js" crossorigin="anonymous"></script>

  <!-- Adobe Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/khs4nhq.css">

  <!-- KaTeX -->
  <link rel="stylesheet" href="/css/katex.min.css">
  <script defer src="/js/katex.min.js"></script>
</head>
<body>

<nav id="chapter-navigation">
  <div layout:fragment="chapter-options"></div>
  <ul th:replace="~{fragments/book-navigation.html :: renderNav (${navTree}, ${chapterObj})}"></ul>
</nav>

<nav id="screen-chapter-navigation">
  <button id="toggle-chapter-navigation" type="button" title="Toggle Menu">
    <div class="screen-chapters-header">
      <i class="fa-solid fa-minus screen-chapters-button"></i>
      <h1 class="screen-chapters-label">Table of Contents</h1>
    </div>
  </button>
  <div class="chapter-scroll">
    <ul th:replace="~{fragments/book-navigation.html :: renderNav (${navTree}, ${chapterObj})}"></ul>
  </div>
  <div layout:fragment="chapter-options"></div>
</nav>

<article>
  <header>
    <h1 class="header-left" th:utext="${chapterObj?.title}"></h1>
    <a href="/"><h1 class="header-right">Study Notes</h1></a>
  </header>

  <div layout:fragment="content"></div>
</article>

<script src="/js/responsive.js"></script>
<script src="/js/prism.js"></script>
<th:block layout:fragment="extra-scripts"></th:block>
</body>
</html>
