<!DOCTYPE html>
<html lang="en" class="chapters-shown">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title th:text="${pageTitle}">Crib Sheet</title>
  <link rel="stylesheet" href="/css/all.css">
  <script src="/js/mobile-height.js"></script>
  <script src="https://kit.fontawesome.com/f58d79b7d2.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500&family=Noto+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
          onload="renderMathInElement(document.body);"></script>

  <th:block layout:fragment="extra-head"></th:block>
</head>
<body>
<nav id="chapter-select">
  <div class="chapter-scroll">
    <ul th:replace="~{fragments/book-navigation.html :: renderNav (${navTree}, ${chapterObj})}"></ul>
  </div>
  <div layout:fragment="chapter-options"></div>
</nav>

<main>
  <div id="topbar">
    <div class="topbar-buttons">
      <button id="toggle-chapter-select" class="topbar-button" type="button" title="Toggle Sidebar">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
    <h1 class="topbar-title" th:utext="${chapterObj?.title}"></h1>
    <div class="topbar-buttons">
      <button class="topbar-button" type="button" onclick="location.href='/'">
        <i class="fa-solid fa-house"></i>
      </button>
    </div>
  </div>
  <div class="content-wrap">
    <div layout:fragment="content"></div>
  </div>
</main>

<nav id="alt-chapter-select">
  <button id="toggle-alt-chapter-select" type="button" title="Toggle Menu">
    <div class="alt-chapters-top">
        <i class="fa-solid fa-minus alt-chapters-button"></i>
      <h1 class="alt-chapters-title" th:utext="${chapterObj?.title}"></h1>
    </div>
  </button>
  <div class="chapter-scroll">
    <ul th:replace="~{fragments/book-navigation.html :: renderNav (${navTree}, ${chapterObj})}"></ul>
  </div>
  <div layout:fragment="chapter-options"></div>
</nav>
<script src="/js/chapter-select.js"></script>
<script src="/js/prism.js"></script>
<script>
    (function () {
        document.addEventListener("DOMContentLoaded", function () {
            var mathElems = document.getElementsByClassName("katex");
            var elems = [];
            for (const i in mathElems) {
                if (mathElems.hasOwnProperty(i)) elems.push(mathElems[i]);
            }

            elems.forEach(elem => {
                katex.render(elem.textContent, elem, {throwOnError: false, displayMode: elem.nodeName !== 'SPAN',});
            });
        });
    })();
</script>
<th:block layout:fragment="extra-scripts"></th:block>
</body>
</html>
