<!-- initialise recursive fragment -->
<ul th:fragment="generateChapterList (entries, note)" th:replace="~{:: generateChapterListX (${entries}, ${note}, 0)}"></ul>

<!-- recursive fragment -->
<ul class="chapter-list" th:unless="${entries?.empty}" th:fragment="generateChapterListX (entries, note, depth)">
  <li th:id="${entry?.id}" th:each="entry : ${entries}">
    <th:block th:switch="${depth}">
      <a th:case="0" class="chapter-lvl-0" th:text="${entry?.title}"
	 th:id="${note.id} == ${entry?.id} ? active-chapter : ''"
	 th:href="|/read${entry?.link}|"></a>
      <a th:case="1" class="chapter-lvl-1" th:text="${entry?.title}"
	 th:id="${note.id} == ${entry?.id} ? active-chapter : ''"
	 th:href="|/read${entry?.link}|"></a>
      <a th:case="*" class="chapter-deep" th:text="${entry?.title}"
	 th:id="${note.id} == ${entry?.id} ? active-chapter : ''"
	 th:href="|/read${entry?.link}|"></a>
    </th:block>
    <ul th:replace="~{:: generateChapterListX (${entry?.children}, ${note}, ${depth}+1)}"></ul>
  </li>
</ul>
