@import "constants.css";
@import "error.css";
@import "menus.css";
@import "plugins.css";
@import "topbar.css";

html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    html {
        font-size: 0.8rem;
    }
}

body {
    margin: 0;
    padding: 0;
    color: var(--default-foreground);
    background-color: var(--default-background);

    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh)*100);
}

html,
body {
    overflow: hidden;
}

h1,
h2 {
    margin: 2rem 0 .5rem;
    color: var(--highlight-foreground);
}

h3,
h4,
h5,
h6 {
    margin: 1.5rem 0 .5rem;
    color: var(--highlight-foreground);
}

@media (max-width: 600px) {
    h1,
    h2 {
        margin: 1rem 0 .5rem;
    }

    h3,
    h4,
    h5,
    h6 {
        margin: .75rem 0 .5rem;
    }
}

p {
    margin: 0 0 .5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not(.active):hover {
    color: var(--gold-accent);
}

button {
    all: unset;
}

.content-wrap {
    padding: 0 .5rem;
    margin-bottom: 4rem;
    flex: 1;
}

main {
    flex: 1;
    overflow-y: scroll;
}

@media (max-width: 600px) {
    .content-wrap {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    .chapters-shown .content-wrap {
        margin-bottom: 0;
    }

    .chapters-hidden main {
        max-height: calc(var(--vh, 1vh)*100 - var(--alt-chapter-menu-header-height));
        transition: max-height 0.3s;
    }

    .chapters-shown main {
        max-height: calc(var(--vh, 1vh)*100 - var(--alt-chapter-menu-height));
        transition: max-height 0.3s;
    }
}

.content {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 800px;
    transition: max-height .5s;
}

strong {
    font-weight: 600;
    color: var(--gold-accent);
}

em {
    font-style: normal;
    color: var(--highlight-foreground);
}

ul {
    margin: 0;
}

/* TABLES */

table {
    width: 100%;
    margin: 0 auto;
}

table.wide {
    width: 90%;
}

table.narrow {
    width: 60%;
}

@media (max-width: 600px) {
    table {
        width: 100% !important;
    }
}

th,
td {
    padding: .5rem .75rem;
}

td {
    font-size: .9em;
}

/* Cross-style: */

table.cross {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

table.cross th:nth-child(1) {
    font-weight: 600;
    border-right: 2px solid var(--highlight-foreground) !important;
}

table.cross td:nth-child(1) {
    font-weight: 600;
    border-right: 2px solid var(--highlight-foreground) !important;
}

table.cross th {
    border-bottom: 2px solid var(--highlight-foreground) !important;
}

/* Lined-style: */

table.lined {
    border-collapse: collapse;
    text-align: center;
}

@media (max-width: 600px) {
    table.lined {
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
    }
}

table.lined thead {
    border-bottom: 2px solid var(--highlight-foreground);
}

table.lined tr:nth-child(2n),
table.lined th {
    background-color: var(--highlight-background);
}

table.lined th {
    color: var(--highlight-foreground);
}

/* ASIDE */

table.aside {
    table-layout: fixed;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0 1.5rem;
}

table.aside strong {
    color: white;
}

td.aside-content {
    padding: 1rem 1rem 0.5rem;
    width: 100%;
    background: var(--highlight-background);
    border-radius: 10px;
}

td.aside-content.tip strong {
    color: var(--aside-tip-highlight);
}

td.aside-content.note strong {
    color: var(--aside-note-highlight);
}

td.aside-icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-0.5rem, -50%);
}

.aside-icon {
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: #eeeeee;
    font-weight: 600;
    user-select: none;
}

.aside-icon.tip {
    background: var(--aside-tip-icon);
}

.aside-icon.tip::after {
    content: "TIP";
}

.aside-icon.note {
    background: var(--aside-note-icon);
}

.aside-icon.note::after {
    content: "NOTE";
}

.aside-icon.code {
    background: var(--aside-code-icon);
}

.aside-icon.code::after {
    content: "CODE";
}

/* CODE SNIPPETS */

table.code-snippet {
    table-layout: fixed;
    position: relative;
    width: 75%;
    border-collapse: collapse;
}

td.code-content {
    position: relative;
    z-index: 9;
    padding: 0;
    background: #232323;
    border-radius: 0 0 8px 8px;
    transform: translateY(-6px);
}

td.code-caption {
    position: relative;
    z-index: 10;
    background: #323232;
    border-radius: 8px;
}

.code-caption-text {
    margin-left: 10px;
    font-weight: 600;
    color: var(--highlight-foreground);
}

/* INPUT */

.basic-input {
    width: 100%;
    padding: .4rem;
    margin: 1rem 0;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
    font-size: inherit;
    color: var(--highlight-foreground);
    background-color: #2a2a2a;
}

.basic-input:focus {
    outline: none;
}

.password-group {
    display: flex;
    justify-content: center;
}

.password-input {
    padding: 6px;
    border: 0;
    font-size: 20px;
    color: var(--highlight-foreground);
    background-color: #333;
}

.password-input.error {
    border-bottom: 2px solid var(--error);
}

.password-input:focus {
    outline: none;
}

/* MISCELLANEOUS */

.index-button {
    font-size: .6em;
    color: var(--default-foreground);
}

.index-button:hover {
    color: var(--gold-accent);
}

.footer-button {
    line-height: 40px;
    cursor: pointer;
}

.footer-button > .fa-solid {
    line-height: inherit;
    transition: color 0.2s;
}

.footer-button > .fa-solid:hover {
    color: var(--gold-accent);
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    padding: .5rem;
    border-radius: .3rem;
    background-color: var(--highlight-background);
}

.icon-button:hover {
    cursor: pointer;
    color: var(--gold-accent);
}

.editing {
    max-width: 60vw;
}

.editing h1:not(.index-placeholder) {
    margin-top: .5rem;
}

.editing h2 {
    margin-top: .5rem;
}
