.book-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

.book-select > * {
    margin-top: 2rem;
}

.book-button {
    display: grid;
    grid-template-areas:
    "edit-icon title"
    "description description";
    grid-template-columns: minmax(0, auto) 1fr;
    width: 40%;
    min-height: 100px;
    cursor: pointer;
    padding: 0 1rem .5rem;
    border-top: 4px solid #303030;
    border-radius: 7px;
    background: #202020;
    transition: all 0.3s ease;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .book-button {
        width: 100%;
        border-top: 4px solid var(--gold-accent);
    }
}

.book-button > h2 {
    margin-top: .75rem;
    grid-area: title;
}

@media (max-width: 600px) {
    .book-button > h2 {
        margin-top: .5rem;
    }
}

.book-button > p {
    grid-area: description;
}

.book-button > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .5rem;
    margin-top: .75rem;
    margin-bottom: .5rem;
    grid-area: edit-icon;
}

.book-button:hover {
    border-top: 4px solid var(--gold-accent);
    transform: scale(1.1);
}

.book-edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 2rem;
    background: #1f1f1f;
}

.book-edit-button:hover {
    border: none;
    color: var(--gold-accent);
    font-size: 3rem;
    transform: scale(0.95);
}