table.code-snippet {
    table-layout: fixed;
    position: relative;
    width: 75%;
    border-collapse: collapse;
}

td.code-content {
    position: relative;
    z-index: 9;
    padding: 0;
    background: #232323;
    border-radius: 0 0 8px 8px;
    transform: translateY(-6px);
}

td.code-caption {
    position: relative;
    z-index: 10;
    background: #323232;
    border-radius: 8px;
}

.code-caption-text {
    margin-left: 10px;
    font-weight: 600;
    color: var(--highlight-foreground);
}
