.error-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

.error-code {
    font-family: 'Chivo Mono', monospace;
    font-size: 8rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
}

.error-name {
    font-family: 'Chivo Mono', monospace;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    color: #f47174;
}