@import "colours.css";

.basic-input {
    width: 100%;
    padding: .4rem;
    margin: 1rem 0;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
    font-size: inherit;
    color: var(--highlight-foreground);
    background-color: #2a2a2a;
}

.basic-input:focus {
    outline: none;
}

.password-group {
    display: flex;
    justify-content: center;
}

.password-input {
    padding: 6px;
    border: 0;
    font-size: 20px;
    color: var(--highlight-foreground);
    background-color: #333;
}

.password-input.error {
    border-bottom: 2px solid var(--error);
}

.password-input:focus {
    outline: none;
}