#menu {
    z-index: 99;
    position: fixed;
    inset: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    overscroll-behavior-y: contain;
    background-color: #151515;
    font-size: .9rem;
    box-shadow: 0.25rem 0 10px #121212;
    transition: transform 0.3s;
}

.menu-hidden #menu {
    transform: translateX(calc(0px - 300px));
}

/* TODO: Improve media queries (currently edge cases exist?) */

@media (max-width: 600px) {
    #menu {
        display: none;
    }
}

@media (min-width: 600px) {
    main {
        margin-left: 300px;
        transition: margin-left 0.3s ease;
    }

    .menu-hidden main {
        margin-left: 0;
    }
}

.menu-scroll {
    padding: 1rem;
    overflow-y: auto;
    flex: 1;
    background-color: #151515;
}

.menu-active {
    color: #e9c56d;
}

#menu-active {
    color: #e9c56d;
}

.side-list {
    list-style: none outside none;
    line-height: 1.8em;
    margin: 0;
    color: #a6a6a6;
}

.menu-scroll > ul {
    padding: 0
}

ul ul {
    padding-left: 0.8rem;
}

.side-list li {
    margin-top: .25rem;
}

.menu-lvl-0 {
    font-weight: 600;
}

.menu-lvl-1 {
    font-weight: 300;
}

.menu-lvl-deep {
    font-size: .8rem;
}

/* MOBILE: */

#mobile-menu { /* TODO: Reuse #sidebar style. */
    z-index: 99;
    position: fixed;
    inset: 0 0 100vh 0;
    display: flex;
    flex-direction: column;
    height: 75vh;
    overscroll-behavior-y: contain;
    background-color: #151515;
    font-size: .9rem;
    transform: translateY(25vh);
    transition: transform 0.3s;
}

.menu-hidden #mobile-menu {
    transform: translateY(calc(100vh - 80px));
}

#mobile-menu .menu-scroll {
    padding-top: 0;
}

.mm-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: 0 -10px 5px #151515;
}

.mm-title {
    margin: 0;
    color: #606060;
    font-size: 1.5rem;
    line-height: 1;
}

.mm-button {
    position: absolute;
    top: -25px;
    width: 100%;
    text-align: center;
    color: #a6a6a6;
    font-size: 2rem;
    line-height: 1;
    transform: scaleY(-1);
    transition: transform 0.4s;
}

.menu-hidden .mm-button {
    transform: scaleY(1);
}

@media (min-width: 600px) {
    #mobile-menu {
        display: none;
    }
}
