/* BOOK MENU */

.book-select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: .2rem dashed var(--highlight-background);
}

.book-button {
    display: grid;
    grid-template-areas:
    "edit-icon title"
    "description description";
    grid-template-columns: minmax(0, auto) 1fr;
    width: 47.5%;
    box-sizing: border-box;
    cursor: pointer;
    padding: .25rem .75rem 0;
    margin: 0 0 1rem;
    border-left: .2rem solid var(--highlight-background);
    border-right: .2rem solid var(--highlight-background);
    border-radius: .5rem;
    background: linear-gradient(160deg, var(--highlight-background), transparent 25%);
    word-wrap: break-word;
    transition: border-color 0.2s;
}

.book-button:hover {
    border-color: var(--highlight-foreground);
}

@media (max-width: 600px) {
    .book-button {
        width: 100%;
        border-top: 4px solid var(--gold-accent);
    }

    .book-button:hover {
        transform: scale(1);
    }

    .book-button:focus {
        border-top: 4px solid var(--highlight-foreground);
        transition: all 0s;
    }
}

.book-button > .book-title {
    margin: 0;
    grid-area: title;
}

.book-button > .book-description {
    margin: 0;
    grid-area: description;
}

.book-button > .book-edit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: .5rem;
    margin-bottom: .3rem;
    grid-area: edit-icon;
}

.book-create-button {
    width: 60%;
    padding: .75rem inherit;
    margin-bottom: 2rem;
    background: linear-gradient(170deg, var(--highlight-background), transparent 25%, transparent 75%, var(--highlight-background));
}

.book-create-button:hover {
    color: var(--blue-accent);
    border-color: var(--blue-accent);
    cursor: pointer;
}

/* CHAPTER MENU */

nav {
    position: fixed;
    left: calc((100vw - var(--content-width)) / 2); /* Dynamically updated with JS. */
    top: 1.5rem;
    padding-right: 2rem;
    filter: opacity(0.25);
    transition: filter 0.2s;
}

nav:hover {
    filter: opacity(1);
}

#chapter-select {
    z-index: 99;
    position: fixed;
    inset: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    width: var(--chapter-menu-width);
    overscroll-behavior-y: contain;
    background-color: #151515;
    font-size: .9rem;
    box-shadow: 0.25rem 0 10px #121212;
    transition: transform 0.3s;
}

.chapters-hidden #chapter-select {
    transform: translateX(calc(0px - var(--chapter-menu-width)));
}

/* TODO: Improve media queries (currently edge cases exist?) */

@media (max-width: 600px) {
    #chapter-select {
        display: none;
    }
}

@media (min-width: 600px) {
    main.with-chapter-select {
        margin-left: var(--chapter-menu-width);
        transition: margin-left 0.3s ease;
    }

    .chapters-hidden main {
        margin-left: 0;
    }
}

.chapter-scroll {
    padding: 1rem;
    overflow-y: auto;
    flex: 1;
    background-color: #151515;
}

#active-chapter {
    color: var(--aside-note-highlight);
    font-weight: 600;
}

.chapter-list {
    list-style: none outside none;
    margin: 0;
    color: #a6a6a6;
    font-family: 'p22-underground-pc', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

@media (max-width: 600px) {
    .chapter-list {
        font-size: 1.3rem;
    }
}

.chapter-scroll > ul {
    padding: 0
}

ul ul {
    padding-left: 0.8rem;
}

/*.chapter-list li {*/
/*    margin-top: .2rem;*/
/*}*/

.chapter-lvl-0 {
    font-weight: 600;
}

.chapter-lvl-1 {
    font-weight: 400;
}

/* ALTERNATIVE (SMALLER): */

#alt-chapter-select { /* TODO: Reuse #chapter-select style. */
    z-index: 99;
    position: fixed;
    inset: 0 0 calc(var(--vh, 1vh)*100) 0;
    display: flex;
    flex-direction: column;
    height: var(--alt-chapter-menu-height);
    overscroll-behavior-y: contain;
    background-color: #151515;
    transform: translateY(calc(var(--vh, 1vh)*100 - var(--alt-chapter-menu-height)));
    transition: transform 0.3s;
}

.chapters-hidden #alt-chapter-select {
    transform: translateY(calc(var(--vh, 1vh)*100 - var(--alt-chapter-menu-header-height)));
}

#alt-chapter-select .chapter-scroll {
    padding-top: 0;
}

.alt-chapters-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: var(--alt-chapter-menu-header-height);
    box-shadow: 0 -10px 5px #121212;
    box-sizing: border-box;
    padding: 5px 0 10px;
}

.alt-chapters-title {
    margin: 0;
    color: #606060;
    font-size: 1.5rem;
    line-height: 1;
}

.alt-chapters-button {
    text-align: center;
    color: #a6a6a6;
    font-size: 2rem;
    line-height: 1;
}

@media (min-width: 600px) {
    #alt-chapter-select {
        display: none;
    }
}

/* ACTIONS: */

.chapter-select-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
}

.edit-buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.move-buttons-group {
    display: grid;
    margin: 2rem 0;
    gap: 0.2rem;
    grid-template-areas:
	"up up"
	"left right"
	"down down";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 1rem;
}

.move-up {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: up;
}

.move-left {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: left;
}

.move-right {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: right;
}

.move-down {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: down;
}
