/* KaTeX: */

.katex {
    font-size: 1.1rem !important;
    color: var(--highlight-foreground);
}

.katex-display {
    overflow: auto hidden !important;
    padding-bottom: .5em !important;
    margin-bottom: .5em !important;
}

/* EasyMDE: */

#edit-title, .EasyMDEContainer, .CodeMirror {
    font-family: 'Chivo Mono', monospace !important;
    font-variant-ligatures: none;
}

.CodeMirror {
    border: none !important;
    border-radius: .5rem;
    font-size: inherit !important;
    color: inherit !important;
    background-color: #2a2a2a !important;
}

.CodeMirror-cursor { /* This is how CodeMirror sets cursor... */
    border-left: 2px solid var(--highlight-foreground) !important;
}

.CodeMirror pre.CodeMirror-line {
    font-variant-ligatures: none !important;
}

.CodeMirror-selectedtext {
    filter: invert(1) !important;
}

.custom-editor-preview {
    padding: 1rem;
    border: .2rem dashed #2a2a2a;
    background-color: var(--default-background);
    font-family: 'Noto Sans', sans-serif;
}

/* PrismJS: */

pre {
    counter-reset: lineNumber;
}

code .highlight-line:before {
    -webkit-user-select: none;
    border-right: 2px solid #333;
    color: #606060;
    content: counter(lineNumber);
    counter-increment: lineNumber;
    display: inline-block;
    font-variant-numeric: tabular-nums;
    margin-right: .8em;
    padding-right: .8em;
    text-align: right;
    width: 1em;
}

code[class*="language-"],
pre[class*="language-"] {
    color: #c3c3c3;
    font-family: 'Chivo Mono', Consolas, Monaco, 'Andale Mono', monospace;
    font-variant-ligatures: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    color: inherit;
    background: rgba(33, 66, 131, .85);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    color: inherit;
    background: rgba(33, 66, 131, .85);
}

/* Code blocks */
pre[class*="language-"] {
    margin: 0;
    padding: 1em;
    overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.cdata {
    color: #606060;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
    color: #9b85e0;
}

.token.operator,
.token.punctuation,
.token.attr-name {
    color: #a6a6a6;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
    color: #e085e0;
}

.token.entity,
.token.number,
.token.symbol {
    color: #c3c3c3;
}

.token.property,
.token.constant,
.token.variable {
    color: #9876aa;
}

.token.string,
.token.char {
    color: #95e085;
}

.token.attr-value,
.token.attr-value .punctuation {
    color: #95e085;
}

.token.attr-value .punctuation:first-child {
    color: #a9b7c6;
}

.token.url {
    color: #287bde;
    text-decoration: underline;
}

.token.function {
    color: #e085e0;
}

.token.regex {
    background: #364135;
}

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.inserted {
    background: #294436;
}

.token.deleted {
    background: #484a4a;
}

code.language-css .token.property,
code.language-css .token.property + .token.punctuation {
    color: #a9b7c6;
}

code.language-css .token.id {
    color: #ffc66d;
}

code.language-css .token.selector > .token.class,
code.language-css .token.selector > .token.attribute,
code.language-css .token.selector > .token.pseudo-class,
code.language-css .token.selector > .token.pseudo-element {
    color: #ffc66d;
}

pre[class*=language-].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber
}

pre[class*=language-].line-numbers > code {
    position: relative;
    white-space: inherit
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    /*border-right: 2px solid #999;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: hsla(24, 20%, 50%, .08);
    background: linear-gradient(to right, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre
}

@media print {
    .line-highlight {
        -webkit-print-color-adjust: exact;
        color-adjust: exact
    }
}

.line-highlight:before, .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%, .4);
    color: #f4f1ef;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px #fff
}

.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em
}

.line-numbers .line-highlight:after, .line-numbers .line-highlight:before {
    content: none
}

pre[id].linkable-line-numbers span.line-numbers-rows {
    pointer-events: all
}

pre[id].linkable-line-numbers span.line-numbers-rows > span:before {
    cursor: pointer
}

pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
    background-color: rgba(128, 128, 128, .2)
}

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-bold-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold_italic';
    src: url('../fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('../fonts/ubuntu-italic-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-light-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('../fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-medium-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('../fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
