<html layout:decorate="~{layouts/base.html}">
<main layout:fragment="main" class="home">
  <div class="content">
    <h1 id="welcome">
      Welcome!
      <a sec:authorize="hasRole('ADMIN')" href="/edit/index"><i class="fa-solid fa-pen-to-square index-button"></i></a>
    </h1>

    <th:block th:utext="${content}"></th:block>

    <div class="book-select">
      <button sec:authorize="hasRole('ADMIN')" class="book-button book-create-button" type="button"
              th:onclick="location.href='/make/book'">
        <h2 class="book-title">New</h2>
        <span class="book-edit-icon"><i class="fa-solid fa-plus"></i></span>
      </button>
      <th:block th:each="book : ${books}">
        <button class="book-button" type="button"
                th:onclick="'location.href=\'' + @{/read/{x}(x=${book.code})} + '\''">
          <h2 class="book-title" th:text="${book.title}">course</h2>
          <p class="book-description" th:text="${book.description}">description</p>
          <a sec:authorize="hasRole('ADMIN')" class="book-edit-icon" th:href="|/edit/book?id=${book.id}|">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </button>
      </th:block>
    </div>
  </div>

  <div>
    <div style="min-height: 50px; text-align: center">
      <button sec:authorize="!hasRole('ADMIN')" class="base-button" type="button" onclick="location.href='/login'">
        <i class="fa-solid fa-user-shield"></i>
      </button>
      <button sec:authorize="hasRole('ADMIN')" class="base-button" type="button" onclick="location.href='/logout'">
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </div>
  </div>
</main>
</html>
