<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
    <title>Title</title>
    <link rel="stylesheet" href="all.css">
  </head>
  <body>
    <div id="topbar">
      <h1 class="topbar-title">Warwick Notes</h1>
    </div>
    
    <div class="content-wrap">
      <div class="content">
	<h1>Welcome!</h1>
	<p>Welcome to my notes for Computer Science.</p>

	<div class="menu">
	  <th:block th:each="module : ${modules}">
	    <button class="menu-button" type="button"
		    th:onclick="'location.href=\'' + @{/{x}(x=${module.code})} + '\''">
	      <h2 th:text="${module.name}">course</h2>
	      <p th:text="${module.code}">description</p>
	    </button>
	  </th:block>
	</div>
      </div>
    </div>
  </body>
</html>
