<html layout:decorate="~{layouts/base.html}">
<div layout:fragment="content"
     class="content">
  <h1 id="welcome">
    Welcome!
    <a sec:authorize="hasRole('ADMIN')" href="/edit/index"><i class="fa-solid fa-pen-to-square index-button"></i></a>
  </h1>

  <th:block th:utext="${content}"></th:block>

  <div class="book-select">
    <th:block th:each="book : ${books}">
      <button class="book-button" type="button"
              th:onclick="'location.href=\'' + @{/read/{x}(x=${book.code})} + '\''">
        <h2 th:text="${book.title}">course</h2>
        <p th:text="${book.description}">description</p>
        <a sec:authorize="hasRole('ADMIN')" th:href="|/edit/book?id=${book.id}|">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      </button>
    </th:block>
    <button sec:authorize="hasRole('ADMIN')" class="book-button book-edit-button" type="button"
            th:onclick="location.href='/make/book'">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>
</html>
