<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Editor Login - Crib Sheet</title>
  <link rel="stylesheet" href="/css/all.css">
  <script src="/js/responsive.js"></script>

  <!-- Adobe Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/khs4nhq.css">
</head>
<body>
<h1 style="text-align: center; font-family: 'p22-underground-pc', sans-serif;">Editor Access</h1>
<form th:action="@{/login}" method="post" style="">
  <!-- username AND password required for Spring to intercept the authentication -->
  <div style="display: none"><input type="username" name="username" value="admin"/></div>
  <div class="password-group">
    <input class="password-input"
           th:classappend="${param.error != null ? 'error' : ''}"
           type="password" name="password" placeholder="Password..." autofocus/>
  </div>
  <div><input type="submit" hidden/></div> <!-- submits on Enter -->
</form>
</body>
<script>
    var html = document.querySelector("html");
    var sidebar = document.getElementById("sidebar");
    var sidebarButton = document.getElementById("toggle-sidebar");

    sidebarButton.addEventListener('click', function sidebarToggle() {
        html.classList.toggle('sidebar-hidden');
    });
</script>
</html>

