<html layout:decorate="~{layouts/main.html}">
<div layout:fragment="chapter-options"
     sec:authorize="hasRole('ADMIN')"
     class="chapter-select-buttons">
  <button class="icon-button" type="button" th:if="${chapterObj != null}"
          th:onclick="'location.href=\'' + @{/edit/chapter?id={x}(x=${chapterObj.id})} + '\''">
    <i class="fa-solid fa-pen-to-square"></i>
  </button>
  <button class="icon-button" type="button"
          th:onclick="'location.href=\'' + @{/make/chapter?id={x}(x=${chapterObj.id})} + '\''">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>

<div layout:fragment="content"
     class="content">
  <th:block th:utext="${chapterObj?.htmlContent}"></th:block>
</div>
</html>
