<html layout:decorate="~{layouts/base.html}" lang="en">

<div layout:fragment="content"
     class="content editing">
  <h1 id="welcome">Welcome!</h1>
  <form method="POST">
    <textarea id="edit-content" type="text" rows="5" th:utext="${curContent}" style="display: none"></textarea>

    <div id="editor-with-preview">
      <div id="editor" style="visibility: visible;"></div>
      <div id="editor-preview" style="visibility: hidden;"></div>
    </div>

    <div class="edit-buttons-group">
      <button class="icon-button" type="submit">
        <i class="fa-solid fa-floppy-disk"></i>
      </button>
      <button class="icon-button" type="button" id="preview-button">
        <i id="preview-icon" class="fa-solid fa-eye"></i>
        <i id="no-preview-icon" class="fa-solid fa-eye-slash" style="display: none"></i>
      </button>
    </div>
  </form>
</div>

<th:block layout:fragment="extra-scripts">
  <script src="/js/codemirror-editor.bundle.js"></script>
  <script src="/js/editing-preview.js"></script>
</th:block>

</html>
